/%h1.text-center= "#{@user.first_name}'s Profile"
.container-fluid
  .row
    .col-sm-6.col-sm-offset-3.main-container
      .row.profile-top
        .profile-pic
          = image_tag("struggles.png", :class => "img-responsive profile-image img-circle")
        .name
          = @user.first_name
      .row
        .well
          %p Hey! I'm Joel. I'm 13 and I love movies, snowboarding, and pizza. Oh, and I've got a dog named Sushi. She's basically the devil (jkjk). Oh and I like to read. Books, you know, like Harry Potter and Lord of the Rings, etc. Peace!

      .row
        .well.interests
          \#snowboarding
          %br
          \#piano
          %br
          \#lordoftherings
          %br
          \#harrypotter
          %br
          \#switchfoot

