.container-fluid
  .row
    .col-sm-6.col-sm-offset-3.main-container
      .row.profile-top
        .name
          Topics
      - @topics.each do |topic|
        .row
          .well.topic
            = link_to topic.title, topic
