html, body { height: 100%; }
body {
  padding-top: 60px;
}

.power-phrase {
  width: 50%;
  margin-left: 40%;
}

.subject-box {
  padding: 20px;
}

.tag-item-container {
  font-size: 40px;
  line-height: 0.8;
}

.tag-items {
  font-size: 40px;
}

.conversation-item {
  a {
  color: black;
  }
}

.button-container {
  min-height: 69px;
}

.back-button {
  font-size: 36px;
  padding: 8px;
  a {
    color: black;
  }
  @media (max-width:992px) {
    float: left !important;
  }
}

.topic {
  a {
    font-size: 2em;
    color: black;
  }
}


