html, body { height: 100%; }
body {
  padding-top: 60px;
}

.container-fluid, .row { height: 100%; }


.border {
  border-left: solid black 4px;
  border-right: solid black 4px;
  margin: 0 10px 0 10px;
}

.power-phrase {
  width: 50%;
  margin-left: 40%;
}

.subject-box {
  padding: 20px;
}

.tag-item-container {
  font-size: 40px;
  line-height: 0.8;
}

.tag-items {
  font-size: 40px;
}

.profile-image {
  width: 100%;
  padding-bottom: 20px;
  max-width: 150px;
  margin: 0 auto;
}

.conversation-item {
  a {
  color: black;
  }
}

.back-button {
  font-size: 36px;
  padding: 8px;
  a {
    color: black;
  }
}

